.lista {
	padding-top: 4px;
}

.headerNavBar{
	background-color: #3B3F44;
	border-radius: 5px;
	font-size: 20px; 
	font-family: NavFont, verdana;
}

#registro {
	width: 100%;
	height: 500px;
	background-color: #EBEAE7;
}

#footer{
	background-color: #3B3F44;
}

#footer i:hover{
	color:#3B3F44;
	border-radius: 10%;
  	background-color: #e67e22;
	transition: border-radius .5s ease, background-color .5s ease, color .5s ease;;
	-moz-transition: border-radius .5s ease, background-color .5s ease, color .5s ease;;
	-webkit-transition: border-radius .5s ease, background-color .5s ease, color .5s ease;;
}

.icono{
	padding-top: 10px;
}

#footer i{
	border-radius: 50%;
	transition: border-radius .5s ease, background-color .5s ease, color .5s ease;;
	-moz-transition: border-radius .5s ease, background-color .5s ease, color .5s ease;;
	-webkit-transition: border-radius .5s ease, background-color .5s ease, color .5s ease;;
}

#derechos{
	padding-top: 35px;
}

#contenidos {
	width: 100%;
	height: 20px;
	background-color: #3B3F44;
}

#recent-works{
	height: 550px;
}

.btn-danger{
	background-color:#e67e22;
	border-color: #e67e22;
}

.navbar-inverse .navbar-nav > li > a {
  color: #B4B4B4;
}

.navbar-brand{
	font-weight: 200;
}

#features > div{
	padding-top: 70px;
}

.logo-features {
	margin-left: 150px;
	padding-bottom: 50px;
}

.media-body {
	text-align: center;
}

.icon-color{
	color:#3B3F44;
}

@font-face {
	font-family: 'NavFont';
	src: url('../fonts2/fuente.ttf');
}